/data/output/all_outputs_meco/
/data/output/model_test_runs/
/data/output/threshold_window_size_tests/
.idea/
/data/output/step_outputs_meco/
/data/raw/
/data/output/step_outputs_onestop/
/data/output/all_outputs_onestop/
